<!DOCTYPE html>
<html>
  <head>
    <title>Studium</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= "backgroundlogin">
        <h1 class="center frontheaders">Welcome to Studium</h1>

        <div class="center pad login">
              <input type="text" placeholder="Username" name="Admin" required>
              <input type="password" placeholder="password" name="21" required>

              <input type="submit" class="button" href="#" value="Sign In">
              <input type="submit" class="button" href="#" value="Register">
        </div>

    </div>
  </body>>
</html>
